.order-details-container {
    padding: 20px;
    border: 1px solid #efeeee;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .order-info {
    margin-bottom: 20px;
  }
  
  .order-info h3 {
    margin-top: 0;
  }
  
  .order-items {
    margin-bottom: 20px;
  }
  
  .raise-ticket-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .raise-ticket-btn:hover {
    background-color: #0056b3;
  }
  