.order-list-container {
    margin-top: 12%;
    margin-right: 6%;
    margin-left: 6%;

    .myOrder{
        color: #0927eb;
        font-size: 36px;
        font-size: 700;
        text-align: center;
    }
    }
  
  .order-list {
    border: 1px solid #fff;
    margin-bottom: 12px;
    border-radius: 5px;
  }
  
  
  