header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4);
    z-index: 100;
    align-items: center; 
 }
  
  .logo {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: #FFF;
    font-size: 3rem;
    padding-left: 2rem;
    cursor: pointer;
    width: 200px;
  }
  
  @media only screen and (max-width: 40em){
    .logo{
      width: 100px;
      padding-left: 10px;
    }
    .order-button{
      width: 60px !important;
    }
  }

  nav {
    display: flex;
    flex: 7;
  }
  
  .search-bar {
    display: flex;
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .search {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .search__input {
    display: flex;
    flex: 1;
    padding: 1.2rem 1rem 1.2rem 4rem;
    height: 40px;
    font-size: 0.9rem;
    color: #4a4a4a;
    border: none;
    border-radius: 0;
    position: relative;
    right: 0;
    letter-spacing: .05rem;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ececec;
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: 2rem;
    outline: 0;
    transition: background .3s ease-out, opacity .5s ease-out;
  }
  
  .search__input:focus {
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat 1rem 50% #FFFFFF;
    background-size: 2rem;
  }
  
  .search__btn {
    background: #318ebb;
    height: 40px;
    border: none;
    width: 120px;
    color: #FFF;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    outline: 0;
    transition: all .4s ease-out;
  }
  
  .search__btn:hover {
    background: #2a78a1;
  }
  
  .search__icon {
    display: none;
  }
  
  .orderButton-container  {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    color: #FFF;
   

    .order-button {
    height: 37px;
    width: 137px;
    padding: 5px 5px;
    background-color: rgb(170, 192, 62);
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(170, 192, 62);
    }

    .order-button:hover{
        background-color: rgb(141, 159, 47);
        cursor: pointer;
    }
  }
  
  .suggestion {
    display: flex;
    position: absolute;
    top: 60px;
    border-top: 1px solid #F1F1F1;
    opacity: 0;
    visibility: hidden;
  }
  
  .suggestion.active {
    opacity: 1;
    margin-top: 34px;
    width: 50%;
    visibility: visible;
    transform-origin: center top;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation: rotation-show 0.5s 0.3s;
    animation-fill-mode: backwards;
  }
  
  .suggestion__content {
    background: #fff;
    display: flex;
    flex: 1;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
    padding: .5em 1em;
    font-size: .8rem;
  }
  
  .suggestion__content-left-side,
  .suggestion__content-right-side {
    flex: 1;
    padding: 1em;
    font-weight: 500;
  }
  
  .suggestion__content-left-side h5,
  .suggestion__content-right-side h5 {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    color: #757575;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .suggestion__content-left-side ul,
  .suggestion__content-right-side ul {
    margin: 0;
    padding: 0;
  }
  
  .suggestion__content-left-side ul li,
  .suggestion__content-right-side ul li {
    list-style-type: none;
    padding: 2px 0;
  }
  
  .suggestion__content-left-side ul li {
    color: #328dbb;
    cursor: pointer;
    transition: color .4s ease-out, transform .4s ease;
  }
  
  .suggestion__content-left-side ul li:hover {
    color: #13587b;
    transform: translateX(3px);
  }
  
  .suggestion__content-right-side ul li {
    border: 1px solid #f3f3f3;
    background: #FFF;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background .3s ease-out, border .4s ease-in-out;
  }
  
  .suggestion__content-right-side ul li:hover {
    border: 1px solid #318ebb;
    background: #f1f1f1;
  }
  
  .hide-element {
    display: none !important;
  }
  
  .mobile-search {
    margin: 0 1em;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
  }
  
  .close-icon {
    color: #909090 !important;
    position: absolute !important;
    right: 8% !important;
    font-size: 1rem;
  }
  
  @keyframes rotation-show {
    0% {
      transform: perspective(1000px) rotateX(-90deg);
    }
    100% {
      transform: perspective(1000px) translateY(0);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .search__input {
      font-size: 16px !important;
      width: 0;
      background: none;
      background-color: lightgrey;
      padding: 1.2rem 1rem 1.2rem 1rem;
    }
    .search__btn {
      display: none !important;
    }
    
    .search__icon {
      display: flex !important;
      color: #FFF;
      align-items: center;
      flex: 6;
      position: absolute;
      right: 5rem;
      cursor: pointer;
      height: 80px;
      line-height: 80px;
    }
    
    .message {
      position: relative;
      top: 80px;
      background: #f3f3f3;
      padding: 0.5rem 1.5rem;
      display: block !important;
      text-align: center;
    }
  }
  